## for loop

In [2]:
for i in  range(1,15):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [13]:
for i in  range(-15,-1):
    print(i)

-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2

In [12]:
for i in range (1,15):
    print(i,end='')

1234567891011121314

In [8]:
fruits =['apple', 'banana', 'range']
for i in fruits:
    print(i)

apple
banana
range

In [7]:
numbers =[2,4,6,8]
result =0
for i in numbers:
    result +=i
print("sum:",result)

sum: 20

In [11]:
numbers =[2,4,6,8]
result =0
for num in numbers:
    result = result+num**2
print('the sum of square:',result)

the sum of square: 120

In [15]:
#factorial
number = 3
result = 1
for i in range(1,number+1):
    result*=i
print(f"the factorial of {number} is {result}")

the factorial of 3 is 6

# while loop

In [21]:
i = 1
while i<15:
    print(i,end='   ')
    i += 5

1   6   11

In [28]:
i =1
while i<51:
    if i%5 ==0 or i%7 ==0:
        print(i,end =' ')
    i += 1

5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50

In [35]:
i = 2
while i<65:
    if i%2 ==0:
        print(i,end='  ')
    i += 1

2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64

In [36]:

numbers =[2,4,6,8,10]
squares =[]
for i in numbers:
    squares.append(i**2)
    print(squares)

[4]
[4, 16]
[4, 16, 36]
[4, 16, 36, 64]
[4, 16, 36, 64, 100]

# multiplication  table

In [42]:
num = 4
result = 1

print(" the multiplication table of:",num)
while result <= 20:
     a = num * result
     print(num,'x', result,'=',a)
     result += 1

 the multiplication table of: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80

# secret number

In [43]:
secret_number = 2
guess = 0
while guess != secret_number:
    guess = int(input("enter the number:"))
    if guess != secret_number:
        print("try again")
print("congrats, your secret number")

enter the number: 4

try again

enter the number: 5

try again

enter the number: 2

congrats, your secret number

  # break statement

In [50]:
for i in range (1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [52]:
for i in range (1,15):
    if i == 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [4]:
count = 1
while count <= 10:
    if count == 5:
        break
    print(count)
    count += 1

1
2
3
4

# continue statement

In [56]:
for i in range(1,15):
    if i == 4:
        continue
    print(i,end=' ')

1 2 3 5 6 7 8 9 10 11 12 13 14

In [ ]:
count = 1

while count <= 10:
    if count == 5:
        count += 1
        continue
    print(count, end =' ')
    count += 1

 # pass statement

In [1]:
number = 10

if number < 5:
    pass
else:
    print('wrong')

wrong